/__pycache__
/models
/test_early_exit
/loss_change_1
/higher_lr_1
/lr_2
/wandb
model_1980.pt
/batch_1
/batch_1
/no_walls
/no_separate_mag
/no_separate_mag
/no_separate_mag
/low_states
/low_states_const
/low_states_const
/testing_inference
/higher_std
/const_model_new_loss
/const_model_new_loss
/big_batch
/big_batch_2
/tiny_cnn_1
/tiny_cnn_1
/tiny_cnn_1_faster
/TinyCNN2_1
/TinyCNN2_2
/TinyCNN2_3
/TinyCNN3_1
/basic_1
/basic_2
/basic_3_no_linear
/basic_3_no_linear_longer
/policy_autoencoder_small_1
/policy_autoencoder_small_2
/policy_autoencoder_small_2_resume
/policy_autoencoder_medium_1